{% extends "base.html" %}
{% block title %}23andMe + GA4GH{% endblock %}
{% block body %}
<h1>{{page_header}}</h1>
<p>Authentication has been successful.  The associated account belongs to {{account_first_name}} {{account_last_name}} ({{account_id}}).</p>
    <p>Your code is {{code}}</p>
    <p>User request: {{user_request_success}}
    {% for gr in genotype_responses %}
        <p>Genotype request: {{gr[0]}}
    {% endfor %}
    <p>Names request: {{names_request_success}}
    {#
    <p>Profile picture request: {{profilepic_request_success}}
    <p>Neanderthal request: {{neanderthal_request_success}}
    <p>Relatives request: {{relatives_request_success}}
    <p>Family members request: {{family_request_success}}
    #}
    <form action='.'>
        <label for="start">Start</label><input type='text' name='start' id='start'>
        <label for="end">End</label><input type='text' name='end' id='end'>
        <input type='submit' value='Submit'>
    </form>
    <p>Click <a href="{{api_results_url}}">here</a> to see equivalent results in JSON format.  Click <a href="{{app_home_url}}">here</a> to go to the homepage.
    <table border=1>
        <tr>
            <th colspan=4>genotype responses</td>
        </tr>
        {% for gr in genotype_responses %}
            <tr>
                <th colspan=4>genotype response</td>
            </tr>
            {% for k, v in gr[1].iteritems() %}
            <tr>
                <td>Request success: {{gr[0]}}</td>
                <td>{{k}}</td>
                <td>{{v}}</td>
                <td>{{gr[2]}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <th colspan=4>names response</td>
        </tr>
        {% for k, v in names_response_json.iteritems()  %}
        <tr>
            <td>{{k}}</td>
            <td>{{v}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <br>
<a href="{{home_url}}">Home</a>
{% endblock %}
