<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {# <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> #}
        <script src="https://api.23andme.com/res/js/ttam-0.3.js"></script>
	<script>
	    window.onload = function () {
		var ttam = TTAM('{{client_id}}');
		ttam.connectButton('23andMe_connect_button', ["basic", "genomes", "names", "analyses"]);
	    };
	</script>
    </head>

    {#<body bgcolor="#45FF2F">#}
    {#<body bgcolor="#333300" text="tan" link="orange" vlink="orange">#}
    <body bgcolor="#333300" text="#FEFCFF" link="orange" vlink="orange">
        <div style='width:450px;margin:auto;'>
        {#<div style='width:80%;margin:auto;'>#}
        {% block body %}
        {% endblock %}
        <hr>
        <p>Github project for this app: <a href="http://github.com/dkucsc/farvan">farvan</a>
        </div>

    </body>
</html>
