{% extends "base.html" %}
{% block title %}farvan: 23andMe + BRCA Exchange (via GA4GH){% endblock %}

{% block body %}
<h1>{{page_header}}</h1>

<hr>

<table width=700px>
<tr>
<p>This service computes an intersection set of data between 23andMe, and BRCA Exchange via the GA4GH API; it also acts as yet another GA4GH API endpoint.

<p>All you have to do is give this application permission to obtain your data from 23andMe.</p>

<p>Click the button below to authorize.  You should be redirected to 23andMe's web site, where you'll need to log in and you'll be asked to confirm.  After authorizing, you should be forwarded back to this application with a reference code, and you can see the results.</p>

<center><div id="23andMe_connect_button"></div></center>
</tr>
</table>

{% endblock %}
